@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Permanent+Marker&display=swap');

::content{width:1600px; margin: 0 auto;}
header{
    background-color: #2b2c28;
    display: grid;
    grid-template-columns: 150px auto;
    justify-items: center;
    align-items: center;
}
.socialIcon{
    size: 50px;
}
nav a{
    text-align: center;
    color: #339989;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: #131515;
    color: #79d2e1;
}
nav {
    display: flex;
    justify-content: space-around;
}
body{
    font-family: "Mochiy Pop P One";
    background-color: #2b2c28;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
p{
    font-family: "Permanent Marker","Rock Salt","sans-serif";
    font-size: 12px;
    color: #339989;
}
h5{
    color: #339989;
}
.home-title{
    font-family: "Permanent Marker","Rock Salt", sans-serif;
    font-size: 2em;
    color: #339989;
    margin-top: 10px;
}
.pageGrid{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    background-color: #2b2c28;
}
#spacer1{
    grid-column: 1/11;
    grid-row: 1/2;
    height: 25px;
    background-color: #2b2c28;
}
#spacer2{
    grid-column: 2/10;
    grid-row: 5/6;
    height: 25px;
    background-color: #2b2c28;
    border-bottom: 3px solid #131515;
}
#spacer3{
    grid-column: 1/11;
    grid-row: 6/7;
    height: 25px;
    background-color: #2b2c28;
}
#spacer4{
    grid-column: 2/10;
    grid-row: 11/12;
    height: 25px;
    background-color: #2b2c28;
    border-bottom: 3px solid #131515;
    display: block;
}
#spacer5{
    grid-column: 1/11;
    grid-row: 12/13;
    height: 25px;
    background-color: #2b2c28;
}
.salmonRiver{
    grid-column: 6/10;
    grid-row: 2/5;
    text-align: center;
    padding: 20px;
    background-color: #131515;
}
.salmonImg{
    grid-column: 2/7;
    grid-row: 2/5;
    width: 75%;
    padding: 20px;
    background-color: #131515;
}
.grayCanyon{
    grid-column: 2/6;
    grid-row: 7/11;
    text-align: center;
    padding: 20px;
    background-color: #131515;
}
.grayImg{
    grid-column: 5/10;
    grid-row: 7/11;
    width: 75%;
    padding: 10px;
    background-color: #131515;
    float: right;
}
.grandCanyon{
    grid-column: 6/10;
    grid-row: 13/17;
    text-align: center;
    padding: 20px;
    background-color: #131515;
}
.grandImg{
    grid-column: 2/7;
    grid-row: 13/17;
    width: 80%;
    padding: 10px;
    background-color: #131515;
}
footer a{
    color: #339989;
    text-decoration: none;
}
footer a:hover{
    color: #79d2e1;
}
footer{
    background-color: #2b2c28;
    padding: 25px 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 100px;
}
#logoLink{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer .social img{
    padding-top: 15px;
    width: 50px;
}