@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

::content{width:1600px; margin: 0 auto;}
header{
    background-color: #2b2c28;
    display: grid;
    grid-template-columns: 200px auto;
    justify-content: center;
    align-items: center;
}
nav a{
    text-align: center;
    color: #ffcb08;
    text-decoration: none;
    padding: 25px;
    font-style: bold;
}
nav a:hover{
    background-color: #3c5aa6;
    color: #c7a008;
}
nav{
    display: flex;
    justify-content: space-around;
}
.logo{
    width: 150px;
}
.icon{
    width: 80px;
    padding-bottom: 10px;
    grid-template-columns: 1/2;
    justify-content: left;
    border-radius: 100px;
}
#logolink{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
body{
    font-family: "Press Start 2p";
    background-color: white;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
p{
    font-family: "Bangers", "Rock Salt", "sans-serif";
    font-size: 22px;
}
li{
    font-family: "Bangers", "Rock Salt", "sans-serif";
    font-size: 22px;
}
#homeGrid{
    display: grid;
    grid-template-columns: repeat(30,1fr);
}
.pokeRap{
    grid-column: 2/28;
    grid-row: 1/2;
    display: flex;
}
iframe{
    width: 450%;
    height: 400px;
    flex: left;
}
.msg{
    flex: right;
}
.bulbasaur{
    grid-column: 2/10;
    grid-row: 2/3;
}
.charmander{
    grid-column: 12/20;
    grid-row: 2/3;
}
.squirtle{
    grid-column: 22/30;
    grid-row: 2/3;
}
.pikachu{
    grid-column: 2/10;
    grid-row: 3/4;
}
.ponyta{
    grid-column: 12/20;
    grid-row: 3/4;
}
.rhyhorn{
    grid-column: 22/30;
    grid-row: 3/4;
}
.gyarados{
    grid-column: 2/10;
    grid-row: 4/5;
}
.gengar{
    grid-column: 12/20;
    grid-row: 4/5;
}
.porygon{
    grid-column: 22/30;
    grid-row: 4/5;
}
.eevee{
    grid-column: 2/10;
    grid-row: 5/6;
}
.lapras{
    grid-column: 12/20;
    grid-row: 5/6;
}
.poliwrath{
    grid-column: 22/30;
    grid-row: 5/6;
}
.dragonite{
    grid-column: 2/10;
    grid-row: 6/7;
}
.snorlax{
    grid-column: 12/20;
    grid-row: 6/7;
}
.mewtwo{
    grid-column: 22/30;
    grid-row: 6/7;
}
footer a{
    color: #ffcb08;
    text-decoration: none;
}
footer a:hover{
    color: #c7a008;
}
footer{
    background-color: #2b2c28;
    padding: 25px 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social img{
    width: 50px;
}
.logoFooter{
    align-self: center;
    width: 150px;
}